.custom-navbar {
    background-color: #003366; /* Dark blue background color */
    width: 100%; /* Full width of the container */
}

.navbar-brand {
    color: #ffffff; /* White text color for the brand */
}